.header__line {
    position: absolute;
    width: 100%;
    box-shadow: 2px 9px 20px 10px;
}

.Carousel__content {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    /* transform: translateY(-60px); */
    background-color: rgba(0, 0, 0, 0.377);
}

.carousel__title {
    position: absolute;
    z-index: 2;
    color: aliceblue;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__text {
    position: absolute;
    z-index: 2;
    color: aliceblue;
    top: 55%;
    left: 50%;
    transform: translateX(-45%);
}